---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import FormattedDate from "@components/FormattedDate.astro";
import { readingTime } from "@lib/utils";
import BackToPrevious from "@components/BackToPrevious.astro";
import Link from "@components/Link.astro";
import TableOfContents from "@components/TableOfContents.astro";

export async function getStaticPaths() {
  const javaprojects = (await getCollection("java"))
    .filter((post) => !post.data.draft)
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
  return javaprojects.map((javaproject) => ({
    params: { slug: javaproject.slug },
    props: javaproject,
  }));
}
type Props = CollectionEntry<"java">;

const javaproject = Astro.props;
const { Content, headings } = await javaproject.render();
---

<Layout title={javaproject.data.title} description={javaproject.data.description}>
  <Container>
    <div class="animate">
      <BackToPrevious href="/javaprojects">Back to projects</BackToPrevious>
    </div>
    <div class="animate my-10 space-y-1">
      <div class="flex items-center gap-1.5">
        <div class="font-base text-sm">
          <FormattedDate date={javaproject.data.date} />
        </div>
        &bull;
        <div class="font-base text-sm">
          {readingTime(javaproject.body)}
        </div>
      </div>
      <h1 class="text-3xl font-semibold text-black dark:text-white">
        {javaproject.data.title}
      </h1>
      {
        (javaproject.data.demoURL || javaproject.data.repoURL) && (
          <nav class="flex gap-1">
            {javaproject.data.demoURL && (
              <Link href={javaproject.data.demoURL} external>
                demo
              </Link>
            )}
            {javaproject.data.demoURL && javaproject.data.repoURL && <span>/</span>}
            {javaproject.data.repoURL && (
              <Link href={javaproject.data.repoURL} external>
                repo
              </Link>
            )}
          </nav>
        )
      }
    </div>
    <TableOfContents headings={headings} />
    <article class="animate">
      <Content />
    </article>
  </Container>
</Layout>
